<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/MainPage.css">
    <link rel="stylesheet" href="../css/itemBoxes.css">
    <title>Document</title>
</head>
<body>
    
    <nav>aefaef</nav>

    <div id = 'sides'>

        <div id ='leftSide'>
            afe
        </div>

        <div id = 'rightSide'>
            <div id = 'mainBody'>
                <div id = 'boxes'>
                    <div id = 'plannedBox'  class = 'box'>
                        <div id = 'boxHeader' class = 'boxItem'> Planned </div>
                        <div class = 'boxItem'>Choice one</div>
                    </div>
                    <div id = 'doingBox'  class = 'box'>
                        <div id = 'boxHeader' class = 'boxItem'> Doing </div>
                        <div class = 'boxItem'>Sample Box 1</div>
                        <div class = 'boxItem'>Sample Box 2</div>
                    </div>
                    <div id = 'doneBox'  class = 'box'>
                        <div id = 'boxHeader'  class = 'boxItem'> Done </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <script src="../../scripts/boxItemMovement.js"></script>
    
</body>
</html>